<html>
  <head>
    <h1>Hangman!</h1>

  </head>
  <div>
  <form action='/' method='get'>
  <body>
    <p>Here is your letter guess:</p>
    $letter

    <p>Here is your word:</p>
    $word

    <p>Guess a letter:</p>
      <label for="letter">Enter a Letter</label>
      <input id="letter" name="letter" type="text">
      <br>
      <button type="submit" class="btn btn-info">Guess letter</button>

</div>
    </form>
  </body>
</html>
