<html>
  <head>
    <h1>Hangman!</h1>
  </head>
  <div>
  <form action='/tasks' method='post'>
  <body>
    <p>Here is your word:</p>
    generateWord()
    //computer displays word to user at start of play
    <p>Guess a letter:</p>
      <label for="letter">Task Description</label>
      <input id="letter" name="letter" type="text">
      <br>
      <button type="submit" class="btn btn-info">Guess letter</button>




</div>
    </form>
  </body>
</html>
